body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */
.alert-cointaier {
    
}

.callout-container {
    height: 100vh;
    
    background: url('../images/whiskey-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
  
  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}




.quotes-container {
    
}

.features-container {
    
}

/* jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #dcdcdc;
    margin: 25px 0;
    
}

.jumbotron small {
    font-size: 75%;
    font-style: italic;
    color: #dadada;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #ffb13b;
}

.block-divider--short {
    width: 45px;
}

/* buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #ffb13b;
    border-color: #ffb13b; 
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #c78219;
    border-color: #c78219;
    color: white;
}